body {
    /* background-image: url('https://wallpapercave.com/wp/wp5585198.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    /* background: radial-gradient(ellipse at bottom, #006663, #111111 60%); */
    background: linear-gradient(#111111 30%, #006663 200%);
    height: 100vh;
    background-attachment: fixed;
}

.shadow {
    text-shadow: black 3px 3px 2px;
    text-transform: uppercase;
}

.background {
    background: linear-gradient(#006663 -200%, #111111 50%);
}

.lightfont {
    font-family: fantasy;
    font-weight: lighter;
}

.nice :hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}